[submodule "debian-systemd-container"]
	path = debian-systemd-container
	url = git@github.com:Hyper-W/debian-systemd-container.git
[submodule "alpine-openrc-container"]
	path = alpine-openrc-container
	url = git@github.com:Hyper-W/alpine-openrc-container.git
[submodule "ubuntu-systemd-container"]
	path = ubuntu-systemd-container
	url = git@github.com:Hyper-W/ubuntu-systemd-container.git
[submodule "rocky-systemd-container"]
	path = rocky-systemd-container
	url = https://github.com/Hyper-W/rocky-systemd-container.git
